{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
  </head>
<body>
  <nav class="navbar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fa fa-bars " ></i>
    </label>
    <label class="logo">DEEPAK</label>
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">contact</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Experiance</a></li>
      <!-- <li><a href="#">FeedBack</a></li> -->
      <button class="signbtn"><a href="{% url 'login' %}">Sign in</a></button>
      <button class="signbtn"><a href="{% url 'user_register' %}">Sign up</a></button>

    </ul>

  </nav>
    <h1>home page</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'login' %}">logout</a>
    {% else %}
    <a href="{% url 'login' %}">login</a>
    {% endif%}
    <a href="{% url 'user_register' %}">register</a>

</body>
</html>