{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>
<body>
  <nav class="navbar">
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">DEEPAK</label>
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">contact</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Experiance</a></li>
      <!-- /<button><a href="#">SignIn</a></button> -->
      <!-- <button><a href="#">SignUp</a></button> -->

    </ul>

  </nav>
    <form action="" method=POST>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            {{ message}}
            {% endfor %}
        {% endif %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</body>
</html>